/***** media query ****/
@media (min-width: 230px) and (max-width: 550px) {
    /* Navigation */
    .logo {
        position: relative;
        text-decoration: none;
        font-weight: bold;
        color: #000;
        line-height: 100px;
        text-transform: capitalize;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 35vh;
        background: #04762c;
        top: 90px;
        left: -100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        transition: 1.5s ease-in-out;
    }
    nav li {
        top: 20px;
        display: block;
        margin: 15px 0;
        line-height: 20px;
    }
    .nav_links li a {
        padding: 10px 0;
        border: 2px;
        font-weight: bold;
        color: #ffffff;
    }  
    nav ul.show {
        left: 0;
    }
    .btn-appointement {
        display: none;
    }
    .container #btn-toggle {
        color: #18ab63;
        font-size: 1.5rem;
        line-height: 90px;
        visibility: visible;
    }

    /* my competences */
    .mycompetences {
        height: 75vh;
        margin-bottom: 120px;
    }
    .container .card-comptences {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0rem;
    }
    .mycompetences .container .barre::after {
        content: '';
        left: 10%;
        top: calc(49% + 1.5rem);
        height: 8px;
        width: 70px;
        position: absolute;
        transform: translateX(-50%);
        background-color: #18ab63;
    }
    /* my realisations */
    .myrealisation .container .barre::after {
        content: ' ';
        left: 10%;
        top: calc(55% + 1.5rem);
        height: 8px;
        width: 70px;
        position: absolute;
        transform: translateX(-50%);
        background-color: #18ab63;
    }
    .card-content-realisations  {
        padding: 20px 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }

    /* my expertises */
    .myexpertises .container .barre::after {
        content: ' ';
        left: 10%;
        top: calc(48% + 1.5rem);
        height: 8px;
        width: 70px;
        position: absolute;
        transform: translateX(-50%);
        background-color: #18ab63;
    }
    .myexpertises .container .card-expertises {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        padding: 15px 0;
    }
    /* mycontact */
    .mycontact {
        background: #fff;
        height: 95vh;
    }
    .mycontact .container .barre::after {
        content: ' ';
        left: 10%;
        top: calc(48% + 1.5rem);
        height: 8px;
        width: 70px;
        position: absolute;
        transform: translateX(-50%);
        background-color: #18ab63;
    }
}

@media (min-width: 550px) and (max-width: 750px) {
    /* Navigation */
    .logo {
        text-decoration: none;
        font-weight: bold;
        color: #000;
        text-transform: uppercase;
        line-height: 90px;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 35vh;
        background: #04762c;
        top: 90px;
        left: -100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        transition: all .5s;
    }
    nav li {
        display: block;
        margin: 15px 0;
        line-height: 20px;
    }
    nav ul.show {
        left: 0;
    }
    .nav_links li a {
        padding: 10px 0;
        border: 2px;
        font-weight: bold;
        color: #ffffff;
    }
    .container #btn-toggle {
        color: #18ab63;
        font-size: 1.5rem;
        visibility: visible;
        line-height: 90px;
    }
    /* btn-appointement */
    .btn-appointement a {
        text-decoration: none;
        color:#fff;
        background-color: #18ab63;
        border: 1px solid #18ab63;
        cursor: pointer;
        visibility: hidden;
        border-radius: 30px;
        padding: 12px 50px;
        transition: 0.9s ease-in-out;
    }
    /* my expertises */
    .myexpertises .container .barre::after {
        content: ' ';
        left: 6%;
        top: calc(48% + 1.5rem);
        height: 8px;
        width: 70px;
        position: absolute;
        transform: translateX(-50%);
        background-color: #18ab63;
    }
    .myexpertises .container .card-expertises {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding: 15px 0;
    }
    /* mycontact */
    .mycontact .container .barre::after {
        content: ' ';
        left: 6%;
        top: calc(48% + 1.5rem);
        height: 8px;
        width: 70px;
        position: absolute;
        transform: translateX(-50%);
        background-color: #18ab63;
    }
}